<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Autor - Confirmado</title>
    <!-- Incluindo o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include '_navbar.html' %}

    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            Autor cadastrado com sucesso!
        </div>
        <a href="{{ url_for('cadastro_autor') }}" class="btn btn-primary">Cadastrar Outro Autor</a>
        <a href="{{ url_for('inicio') }}" class="btn btn-secondary">Voltar à Página Inicial</a>
    </div>

    <!-- Incluindo o JavaScript do Bootstrap e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
