<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Biblioteca</title>
    <!-- Importação da Biblioteca CSS do Vanilla -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css"
    />
    <!-- Importação do Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      footer {
        text-align: center;
      }
      .navbar-brand {
        font-weight: bold;
      }
      .table-container {
        margin-top: 20px;
      }
      .btn-gray {
      background-color: #6c757d; /* Cinza padrão do Bootstrap */
      color: #fff;
      }
      .btn-gray:hover {
      background-color: #5a6268; /* Cinza escuro para o efeito de hover */
      color: #fff;
      }

      
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>
</head>
<body>
    {% include 'menu.html' %}
      <div class="table-container">
        <table id="booksTable" class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Livro</th>
              <th>Autor</th>
              <th>Categoria</th>
              <th>Ano</th>
              <th>Editora</th>
              <th>Ativo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
              {% for livro in lista_de_livros %}
              <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.categoria }}</td>
                <td>{{ livro.ano }}</td>
                <td>{{ livro.editora }}</td>
                <td>{{ livro.ativo }}</td>
    
                <!--Botão Editar e atualizar -->
                <td>
                    <a href="{{ url_for('editar', id=livro.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('deletar', id=livro.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza de que deseja deletar este livro?');">Deletar</a>
                  </td>
    
              </tr>
              {% endfor %}
            </tbody>
            <tr>
              <td>Head First Design Patterns</td>
              <td>Eric Freeman</td>
              <td>Programming</td>
              <td>2004</td>
              <td>Sem Editora</td>
              <td>False</td>
              <td>
                <a href="/editar/1" class="btn btn-warning btn-sm">Editar</a>
                <a href="/deletar/1" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza de que deseja deletar este livro?');">Deletar</a>
              </td>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
          </tbody>
        </table>
      </div>
      <footer>
        <p>&copy; 2024 Biblioteca</p>
      </footer>
    </div>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var dataTable = new DataTable('#booksTable');
      });
    </script>
</body>
</html>
